/.debhelper/
/debhelper-build-stamp
/files
/libstdinchi1-dev.debhelper.log
/libstdinchi1-dev.substvars
/libstdinchi1-dev/
/libstdinchi1.debhelper.log
/libstdinchi1.substvars
/libstdinchi1/
/results/
/tmp/
