Source: inchi
Priority: optional
Maintainer: Katsuhiko Nishimra <ktns.87@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.7
Section: science
Homepage: http://www.inchi-trust.org/
#Vcs-Git: git://anonscm.debian.org/collab-maint/libinchi1.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/libinchi1.git

Package: libinchi1-dev
Provides: libinchi-dev
Section: libdevel
Architecture: any
Depends: libinchi1 (= ${binary:Version}), ${misc:Depends}
Description: International Chemical Identifier (InChI) generator (libdevel)
 Library header to generate Standard/non-Standard InChI/InChIKey.

Package: libinchi1
Section: libs
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: International Chemical Identifier (InChI) generator
 Library to generate Standard/non-Standard InChI/InChIKey.
