#!/usr/bin/make -f

CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)
LIB_DIR=$(CURDIR)/debian/tmp/usr/lib/$(shell dpkg-architecture -q DEB_HOST_GNU_TYPE)

%:
	dh $@ --parallel

override_dh_auto_clean:
	rm -f $(wildcard INCHI_API/gcc_so_makefile/*.o)

override_dh_auto_build:
	mkdir -p $(LIB_DIR)
	+make ISLINUX=1 -C INCHI_API/gcc_so_makefile \
		C_COMPILER=$(CC) C_OPTIONS="-c $(CPPFLAGS) $(CFLAGS)" \
		C_MAIN_OPTIONS=-DINCHI_LINK_AS_DLL C_SO_OPTIONS=-fPIC \
		LINKER="$(CC) -s $(LDFLAGS)" \
		SHARED_LINK="$(CC) -shared" SHARED_LINK_PARM=$(LDFLAGS) \
		LIB_DIR=$(LIB_DIR)
